# **Create New SQLite Database and Add a Table**

This Python program creates an SQLite database and imports data from a CSV file into a table. SQLiteâ€™s integration with Python simplifies handling larger datasets efficiently.

Run on Python 3.12 | No errors | No warnings

In [1]:
# For data manipulation
import pandas as pd

# For working with SQLite databases
import sqlite3

In [2]:
# Load the SQL magic extension
%load_ext sql

In [3]:
# Create connection to the SQLite database (if the database doesn't exist, it will be created)
%sql sqlite:///NewDatabase.db

In [4]:
# Load the dataset
df0 = pd.read_csv("New Data.csv")

In [5]:
# Display the first 5 rows of the dataframe
df0.head()

        Date      Time        DateTime  Value      Treatment Source
0  9/27/2024  12:00 AM  9/27/2024 0:00    109  Mounjaro 12.5    CGM
1  9/27/2024  12:05 AM  9/27/2024 0:05    107  Mounjaro 12.5    CGM
2  9/27/2024  12:10 AM  9/27/2024 0:10    103  Mounjaro 12.5    CGM
3  9/27/2024  12:15 AM  9/27/2024 0:15    100  Mounjaro 12.5    CGM
4  9/27/2024  12:20 AM  9/27/2024 0:20    100  Mounjaro 12.5    CGM

In [6]:
# Display basic information about the data 
df0.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 282 entries, 0 to 281
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       282 non-null    object
 1   Time       282 non-null    object
 2   DateTime   282 non-null    object
 3   Value      282 non-null    int64
 4   Treatment  282 non-null    object
 5   Source     282 non-null    object
dtypes: int64(1), object(5)
memory usage: 13.3+ KB

In [7]:
# Creat a table called NEW_DATA in the database
df0.to_sql("NEW_DATA", con=sqlite3.connect('NewDatabase.db'), if_exists='replace', index=False, method="multi")

282

In [8]:
# Display column names and data types for the NEW_DATA table
%sql PRAGMA table_info(NEW_DATA)

 * sqlite:///NewDatabase.db
Done.

[(0, 'Date', 'TEXT', 0, None, 0),
 (1, 'Time', 'TEXT', 0, None, 0),
 (2, 'DateTime', 'TEXT', 0, None, 0),
 (3, 'Value', 'INTEGER', 0, None, 0),
 (4, 'Treatment', 'TEXT', 0, None, 0),
 (5, 'Source', 'TEXT', 0, None, 0)]

In [9]:
# Get the record count for NEW_DATA
%sql SELECT COUNT(*) FROM NEW_DATA

 * sqlite:///NewDatabase.db
Done.

[(282,)]

In [10]:
# Display the first 5 rows of the NEW_DATA table
%sql SELECT * FROM NEW_DATA LIMIT 5

 * sqlite:///NewDatabase.db
Done.

[('9/27/2024', '12:00 AM', '9/27/2024 0:00', 109, 'Mounjaro 12.5', 'CGM'),
 ('9/27/2024', '12:05 AM', '9/27/2024 0:05', 107, 'Mounjaro 12.5', 'CGM'),
 ('9/27/2024', '12:10 AM', '9/27/2024 0:10', 103, 'Mounjaro 12.5', 'CGM'),
 ('9/27/2024', '12:15 AM', '9/27/2024 0:15', 100, 'Mounjaro 12.5', 'CGM'),
 ('9/27/2024', '12:20 AM', '9/27/2024 0:20', 100, 'Mounjaro 12.5', 'CGM')]